/**
 * toolbar
 */
#toolbar { 
  border: 1px solid black; 
  margin: 0 auto 1em auto; 
  padding: .25em .1em; 
  background: #DDD ; 
} 
.adm_toolbtn button { 
  cursor:pointer;
  border:none;
  background-color:transparent;
  border-color:transparent;
  border-width:1.5px;
  border-style:solid;
  display:-moz-inline-box;

}
.adm_toolbtn button:hover { 
  background: url(images/sprite.png) repeat-x scroll 0 -1300px; 
  border-color:#808080;
  border-width:1.5px;
  border-style:solid;
  display:-moz-inline-box;
} 



/* form style
 */
.cgn_form_cell_label {
/* font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; */
 color: #22486B;
 text-align: right;
 font-size:150%;
 background-color: transparent;
 width: 220px;
}

.cgn_form_cell_input {
 background-color: #F2F7FB;
 color: #000000;
 text-align: left;
 font-size:110%;
 margin-right: 0px;
 padding-right: 0px;
}


.cgn_form_cell_input input {
 /* font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; */
 background-color: #D7E5F2;
 color: #102132;
 /* border: 1px solid #284279; */
 border: 1px solid #666; 
 margin-right: 0px;
}


.cgn_form_cell_input select {
/*  font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; */
 background-color: #D7E5F2;
 color: #102132;
 /* border: 1px solid #284279; */
 border: 1px solid #666; 
}

.data_form TABLE {
 background-color: #F9FBFD;
 color: #000000;
 width: 620px;
 /* border: 1px solid #D7E5F2; */
 border: 1px solid #666;
 border-collapse: collapse;
}

.data_form TABLE TR TD {
 /* border: 1px solid #D7E5F2; */
 border: 1px solid #CCC;
 padding-left: 4px;
}

/* data table */
.grid_1 {
        border-collapse:collapse;
        width:100%;
        margin:0 auto 1em auto;
}
/* .data_table THEAD TR { */
.grid_1_tr_h {
        background:#4D4D4D none repeat scroll 0%;
        border-bottom:2px solid #000000;
        border-right:1px solid #808080;
        border-top:2px solid #808080;
        color:#FFFFFF;
        margin:3px 2px;
        padding:5px 5px 5px 10px;
}

.grid_1 TBODY TR.data_tr_odd {
        background-color:#F2F2F2;
}
.grid_1 TBODY TR:hover  {
        background-color:khaki;
}

